.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskCreateContainer {
  width: 450px;
}

.taskUpdateContainer {
  width: 100%
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.taskShow {
  border: 1px solid lightblue;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}