.courseContainer {
    display: flex;
    flex-direction: column;
    /* column oldugu icin row da x ekseni justify content ile duzeltirken column oldugunda align items ile duzeltilir */
    align-items: center;
}

.courseAddButton {
    background-color: blue;
    color: white;
    border: none;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courseImage {
    width: 350px;
}

.imageContainer {
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}