body {
  background-color: #F5F7F8;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1F1717;
}

.createContainer {
  width: 450px;
}

.updateContainer {
  width: 100%;
}

.createForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formInput {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
}

.createButton {
  background-color: #CE5A67;
  border: 2px solid #CE5A67;
  padding: 10px;
  border-radius: 10px;
  color: #FCF5ED;
  font-size: 15px;
  cursor: pointer;
  transition: 500ms all;
}

.updateFormButton {
  background-color: #eca54f;
  border: 2px solid #eca54f;
}

.createButton:hover {
  background-color: #1F1717;
  color: #CE5A67;
}

.updateFormButton:hover {
  background-color: #CE5A67;
  border: 2px solid #CE5A67;
  color: #F5F7F8;
}


.taskListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.taskItem {
  border: 1px solid #F4BF96;
  border-radius: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h4 {
  margin: 5px;
}

p {
  margin: 5px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.deleteButton {
  border: 1px solid red;
  background-color: red;
  width: 40px;
  border-radius: 10px;
  color: white;
  padding: 2px;
}

.updateButton {
  border: 1px solid blue;
  background-color: blue;
  width: 80px;
}