@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap');

:root {
    --light-gray: #f2f3f5;
    --orange: #ff6200;
    --blue: #009afe;
    --yellow: #ffb528;
}

body {
    background-color: var(--light-gray);
    font-family: 'Open Sans', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createContainer {
    width: 450px;
}

.updateContainer {
    width: 100%;
}

.createForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputForm {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid lightgray;
}

.createFormButton {
    border-radius: 10px;
    border: 1px solid var(--orange);
    background-color: var(--orange);
    padding: 10px;
    font-size: 16px;
    color: #fff;
    transition: 300ms all;
}

.createFormButton:hover {
    background-color: var(--yellow);
}

.taskList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.taskItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    border: 1px solid var(--yellow);
    width: 300px;
    padding: 20px;
}


.taskItemHeader {
    margin: 6px;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.deleteButton {
    border-radius: 10px;
    width: 60px;
    border: 1px solid var(--orange);
    background-color: var(--orange);
    padding: 6px;
    color: #fff;
    transition: 200ms all;
}

.updateButton {
    width: 120px;
    background-color: #ffb528;
    border: 1px solid var(--yellow);
}

.deleteButton:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}