body {
  margin: 0px;
}



h2 {
  background-color: rgb(190, 140, 237);
  color: white;
  font-size: large;
  padding: 50px;
  font-size: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0px 10px;

}

.card {
  width: 340px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.cardContents {
  padding: 20px;
}

.cardImage {
  width: 340px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.cardHeader {
  margin: 10px 0px;
  font-size: 21px;
  font-weight: 800;
  color: rgb(41, 41, 41);
}

.cardDescription {
  color: rgb(89, 89, 89);
  line-height: 20px;
}