.navbar {
    height: 13vh;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 180px;
    gap: calc(20%);
}

.navbarImg {
    width: 120px;
    height: 70px;
}

.mainLink {
    display: flex;
    gap: 0px 30px;
}

.mainLink a {
    font-weight: 500;
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}